<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="./favicon.ico">

    <title>SGE-G4 Login</title>

    <!-- Bootstrap core CSS -->
    <link href="../styles/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../styles/vendor/bootstrap/css/bootstrap-grid.min.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="../styles/css/signin.css" rel="stylesheet">

</head>

<body class="text-center">

<form class="form-signin" action="/login" method="POST">
    <img class="mb-4" src="../bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input class="form-control" type="email" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" placeholder="Ingrese el usuario" required autofocus/>
    <label for="inputPassword" class="sr-only">Password</label>
    <input class="form-control" id="exampleInputPassword1" name="password" type="password" placeholder="Ingrese el password" required/>
        {{#if showAlert}}
        <div class="alert alert-danger mx-auto mt-5 card-login" style="-webkit-animation: bounce 800ms ease-out;
                                                                       -moz-animation: bounce 800ms ease-out;
                                                                       -o-animation: bounce 800ms ease-out;
                                                                       animation: bounce 800ms ease-out;">
            <strong>Upss!!</strong> {{message}}.
        </div>
        {{/if}}
    <div class="checkbox mb-3">
        <label>
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; SGE Grupo 4 2018</p>


</form>

</div>

    <!-- Logout Modal-->
    {{>commons/logoutModal.hbs}}

  {{>commons/scripts.hbs}}
</body>
</html>
<script>
$(document).ready(function()
{

    function animate(element_ID, animation)
    {
        $(element_ID).addClass(animation);
        var wait = window.setTimeout( function(){
            $(element_ID).removeClass(animation)}, 1300
        );
    }

});
</script>